<script>
import axios from 'axios';
export default {
    name: "companyEdit",
    data() {
        return {
            companyId: '',
            company: {},
            file: '',
            errorList: {}
        }
    },
    mounted() {
        this.companyId = this.$route.params.id
        this.getCompany(this.companyId)
    },
    methods: {
        getCompany(companyId) {
            axios.get(`http://127.0.0.1:8000/api/companies/${companyId}`)
                .then(res => {
                    this.company = res.data.data
                })
        },
        updateCompany() {
            var myThis = this;

            let formData = new FormData()
            if (this.file) {
                formData.append('logo_url', this.file)
            }
            formData.append('name', this.company.name)
            formData.append('email', this.company.email)
            formData.append('website', this.company.website)

            axios({
                url: `http://127.0.0.1:8000/api/companies/${this.companyId}`,
                method: 'post',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'Access-Control-Allow-Origin': '*',
                    'Accept': 'application/json'
                }
            }).then(res => {
                alert('Company successfully updated')
            })
            .catch(function(err) {
                if (err.response) {
                    if (err.response.code == 422) {
                        myThis.errorList = err.response.data.errors;
                    }
                }
            })
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0]
        }
    }
}
</script>

<template>
    <div class="mt-5 container">
        <div class="card">
            <div class="card-header">
                <h4>Create a company</h4>
            </div>
            <div class="card-body">
                <form @submit.prevent="updateCompany">
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" v-model="company.name" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.name">{{this.errorList.name[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="text" v-model="company.email" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.email">{{this.errorList.email[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Website</label>
                        <input type="text" v-model="company.website" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.website">{{this.errorList.website[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Logo url</label>
                        <input @change="handleFileUpload()" type="file" ref="file" class="form-control" />
                        <div v-if="company.logo_url">
                            <img :src="company.logo_url" style="max-width: 100px" :alt="company.name" />
                        </div>
                        <span class="text-danger" v-if="this.errorList.logo_url">{{this.errorList.logo_url[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
