<script>
// https://fakestoreapi.com/products
// http://127.0.0.1:8000/api/companies
import axios from 'axios'
export default {
    name: "company",
    data() {
        return {
            companies: {}
        }
    },
    mounted() {
        this.getCompanies()
    },
    methods: {
        getCompanies() {
            axios.get('http://127.0.0.1:8000/api/companies')
                .then(res => {
                    this.companies = res.data.data
                })
        },
        deleteCompany(e, companyId) {
            e.target.innerText = 'Deleting'
            axios.delete(`http://127.0.0.1:8000/api/companies/${companyId}`)
                .then(res => {
                    e.target.innerText = 'Delete'
                    this.getCompanies()
                })
        }
    }
}
</script>

<template>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Companies list
                    <NuxtLink to="/companies/create" class="btn btn-primary float-end">Create company</NuxtLink>
                </h4>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>email</th>
                            <th>Logo url</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(company, i) in companies" :key="i">
                            <td>{{company.id}}</td>
                            <td>{{company.name}}</td>
                            <td>{{company.email}}</td>
                            <td>
                                <div v-if="company.logo_url">
                                    <img :src="company.logo_url" style="max-width: 100px" :alt="company.name" />
                                </div>
                                <p v-else>No photo</p>
                            </td>
                            <td>
                                <NuxtLink :to="`/companies/${company.id}`" class="btn btn-warning btn-sm mx-2">Edit</NuxtLink>
                                <button type="button" @click="deleteCompany($event, company.id)" class="btn btn-danger btn-sm mx-2">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
