<script setup>
import {useAuthStore} from "~/stores/useAuthStore"

async function handleLogout() {
  await auth.logout()
}

const auth = useAuthStore()
</script>
<template>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <nuxt-link class="navbar-brand" to="/">Home</nuxt-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <nuxt-link class="nav-link" aria-current="page" to="/companies">Companies</nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link class="nav-link" aria-current="page" to="/users">Users</nuxt-link>
        </li>
      </ul>
      <div class="d-flex">
        <ul v-if="!auth.isLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <nuxt-link class="nav-link" aria-current="page" to="/login">Login</nuxt-link>
          </li>
          <!-- <li class="nav-item">
            <nuxt-link class="nav-link" aria-current="page" to="/register">Register</nuxt-link>
          </li> -->
        </ul>
        <button v-else @click="handleLogout" class="btn btn-outline-success">Logout</button>
      </div>
    </div>
  </div>
</nav>
</template>