<template>
  <div class="card text-center">
    <img :src="`${company.image}`" class="thumb" />
    <p class="font-bold text-gray-500 m-4 truncate">{{ company.title }}</p>
    <NuxtLink :to="`/products/${company.id}`">
      <p class="btn my-4">View Details</p>
    </NuxtLink>
  </div>
</template>

<script setup>
  const { company } = defineProps(['company'])
</script>

<style scoped>
  .thumb {
    max-height: 120px;
    max-width: 70%;
    margin: 0 auto;
  }
</style>