<script>
import axios from 'axios';
export default {
    name: "userCreate",
    data() {
        return {
            companies: {},
            user: {
                first_name: '',
                last_name: '',
                email: '',
                phone: '',
                company_id: '',
            },
            errorList: {}
        }
    },
    mounted() {
        this.getCompanies()
        this.user.company_id = 1
    },
    methods: {
        getCompanies() {
            axios.get('http://127.0.0.1:8000/api/companies')
                .then(res => {
                    this.companies = res.data.data
                })
        },
        saveUser() {
            var myThis = this;
            axios.post('http://127.0.0.1:8000/api/users', this.user).then(res => {
                alert(res.data.message)
                this.user.first_name = ''
                this.user.last_name = ''
                this.user.email = ''
                this.user.phone = ''
                this.user.company_id = ''
            })
            .catch(function(err) {
                if (err.response) {
                    if (err.response.code == 422) {
                        myThis.errorList = err.response.data.errors;
                    }
                }
            })
        }
    }
}
</script>

<template>
    <div class="mt-5 container">
        <div class="card">
            <div class="card-header">
                <h4>Create a user</h4>
            </div>
            <div class="card-body">
                <form @submit.prevent="saveUser">
                    <div class="mb-3">
                        <label>First Name</label>
                        <input type="text" v-model="user.first_name" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.first_name">{{this.errorList.first_name[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Last Name</label>
                        <input type="text" v-model="user.last_name" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.last_name">{{this.errorList.last_name[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="text" v-model="user.email" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.email">{{this.errorList.email[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="text" v-model="user.phone" class="form-control" />
                        <span class="text-danger" v-if="this.errorList.phone">{{this.errorList.phone[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Company</label>
                        <select v-model="user.company_id" class="form-control">
                            <option v-for="c in companies" :value="c.id">{{c.name}}</option>
                        </select>
                        <span class="text-danger" v-if="this.errorList.phone">{{this.errorList.phone[0]}}</span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
