<script>
import axios from 'axios'
import {definePageMeta} from '#imports'

definePageMeta({
    middleware: 'auth'
})

export default {
    name: "user",
    data() {
        return {
            users: {}
        }
    },
    mounted() {
        this.getUsers()
    },
    methods: {
        getUsers() {
            axios.get('http://127.0.0.1:8000/api/users')
                .then(res => {
                    this.users = res.data.data
                })
        },
        deleteUser(e, userId) {
            e.target.innerText = 'Deleting'
            axios.delete(`http://127.0.0.1:8000/api/users/${userId}`)
                .then(res => {
                    e.target.innerText = 'Delete'
                    this.getUsers()
                })
        }
    }
}
</script>

<template>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Users list
                    <NuxtLink to="/users/create" class="btn btn-primary float-end">Create user</NuxtLink>
                </h4>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>email</th>
                            <th>Phone</th>
                            <th>Company</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, i) in users" :key="i">
                            <td>{{user.id}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.company_id ? user.company.name : 'No company'}}</td>
                            <td>
                                <NuxtLink :to="`/users/${user.id}`" class="btn btn-warning btn-sm mx-2">Edit</NuxtLink>
                                <button type="button" @click="deleteUser($event, user.id)" class="btn btn-danger btn-sm mx-2">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
