<script lang="ts" setup>
import {useAuthStore} from "~/stores/useAuthStore"
const form = ref({
    email: "",
    password: ""
})

const auth = useAuthStore()

async function handleLogin() {
    const {error} = await auth.login(form.value)

    console.log(error)
}
</script>

<template>
<div class="mt-5 container">
    <div class="card">
        <div class="card-body">
            <form @submit.prevent="handleLogin">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" v-model="form.email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" v-model="form.password" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>
