<script lang="ts" setup>
import {useAuthStore} from "~/stores/useAuthStore"
const form = ref({
    first_name: "",
    last_name: "",
    email: "",
    password: "",
    password_confirmation: ""
})

const auth = useAuthStore()

async function handleRegister() {
    const {error} = await auth.register(form.value)
    if (!error.value) {
        navigateTo('/')
    }

    console.log(error)
}
</script>

<template>
<div class="mt-5 container">
    <div class="card">
        <div class="card-body">
            <form @submit.prevent="handleRegister">
                <div class="mb-3">
                    <label>First name</label>
                    <input type="text" v-model="form.first_name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Last name</label>
                    <input type="text" v-model="form.last_name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" v-model="form.email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" v-model="form.password" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Password Confirm</label>
                    <input type="password" v-model="form.password_confirmation" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>
